.widgets{
  position: sticky;
  top: 80px;
  flex: 0.2;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 10px;
}

.widgets__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.widgets__header>h2 {
  font-size: 16px;
  font-weight: 700;
}
.widgets__article{
  display: flex;
  padding: 10px;
  cursor: pointer;
}
.widgets__article:hover{
  background-color: whitesmoke;
}
.widgets__articlesLeft{
  color: #0177b7;
  margin-left: 5px;
}
.widgets__articlesLeft> .MuiSvgIcon-root{
  font-size: 15px;
}
.widgets__articlesRight{
  flex: 1;
}
.widgets__articlesRight>h4{
  font-size: 14px;
}
.widgets__articlesRight>p{
  font-size: 12px;
  color: gray;
}
